.generateButton{
    -fx-background-color: transparent;
}
.generateButton:hover{
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 72, 255, 0.6), 5, 0.0, 0, 9);
}
.registerButton{
    -fx-background-color: transparent;
}
.registerButton:hover{
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 72, 255, 0.6), 5, 0.0, 0, 9);
}
.errorLabel{
    -fx-text-fill: red;
}
.labels{
    -fx-border-color: transparent transparent #44c2e5 transparent;
    -fx-border-width: 3px;
    -fx-background-color: transparent;
    -fx-text-fill: rgb(14, 231, 238);
    -fx-font-family: "Berlin Sans FB";
    -fx-font-size: 16px;
}
.labels:focused {
    -fx-content-display: top;
    -fx-border-insets: 2 0 0 0;
    -fx-border-width: 2;
}
.returnButton{
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
}
.returnButton:hover{
    -fx-cursor: hand;
    -fx-text-fill: red;
}